<!DOCTYPE html>
<html>
  <head>
    <title>BREAD App - Filter Data</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">Filter Data</h1>
      <form method="POST" action="/filter" class="mt-4">
        <div class="mb-3">
          <label for="string" class="form-label">Filter String</label>
          <input
            type="text"
            class="form-control"
            id="string"
            name="string"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
      </form>

      <form method="POST" action="/filterInteger" class="mt-4">
        <div class="mb-3">
          <label for="integer" class="form-label">Filter Integer</label>
          <input
            type="number"
            class="form-control"
            id="integer"
            name="integer"
          />
        </div>
        <button type="submit" class="btn btn-primary">Filter Integer</button>
      </form>
    </div>
  </body>
</html>
